@import "tailwindcss";

* {
  font-family: var(--font-cairo), "Cairo", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

body {
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
